<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>Insta Food Tour</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS only -->
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&display=swap"
          rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <script type="text/javascript">
        function orders() {
            // $.ajax({
            //     type: "POST",
            //     url: "/receive",
            //     data: {},
            //     success: function (response) { // 성공하면
            //         if (response["result"] == "success") {
            //             alert(response["msg"]);
            //             return;
            //         }
            //     }
            // })
            // $.ajax({
            //     type: "GET",
            //     url: "/receive",
            //     data: {},
            //     success: function (response) {
            //         if (response["result"] == "success") {
            //             let receive = response['receive']
            //             console.log(receive)
            //             // for(i=0; i<receive.length; i++){
            //             // let childData=receive[i];
            //             // let tags=childData['tag']
            //             // let tempHtml=
            //         }
            //     }
            // })

            let local = $('#local').val()
            let food = $('#food').val()

            // if (local == '수원' && food == '돈까스맛집') {
                $.ajax({
                    type: "GET",
                    url: "/receive",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            let receive = response['receive']
                            for (let i = 0; i < receive.length; i++) {
                                let childData = receive[i];
                                let tag = childData['tag']
                                let tags = tag[0]
                                // make(tags)
                                console.log(tag)
                            }

                            // function make(tags) {
                            //     let tempHtml = `
                            // <tr>
                            //     <td>${tags}</td>
                            //
                            // </tr>`
                            //     $('#reviews-box').append(tempHtml)
                            // }
                        }
                    }
                })
            }


        // $(document).ready(function () {
        //     showArticles();
        // });
        //
        //
        // function showArticles() {
        //     let local = $('#local').val()
        //     let food = $('#food').val()
        //
        //     // if (local == '수원' && food == '돈까스맛집') {
        //         $.ajax({
        //             type: "GET",
        //             url: "/receive",
        //             data: {},
        //             success: function (response) {
        //                 if (response["result"] == "success") {
        //                     let receive = response['receive']
        //                     for (let i = 0; i < receive.length; i++) {
        //                         let childData = receive[i];
        //                         let tag = childData['tag']
        //                         let tags=tag[0]
        //                         // make(tags)
        //                         console.log(tag)
        //                     }


                                // function make(tags) {
                                //     let tempHtml = `
                                // <tr>
                                //     <td>${tags}</td>
                                //
                                // </tr>`
                                //     $('#reviews-box').append(tempHtml)
                                // }
        //                     }
        //                 }
        //         })
        // }
        // }
    </script>

    <style>
        .image {
            width: 500px;
            height: 800px;
            background-position: center;
            background-size: cover;
            background-image: url("배경.jpeg");
        }

        .price {
            font-size: 15px;
        }

        /*.text {*/
        /*    width: 500px;*/
        /*    margin-top: 20px;*/
        /*    margin-bottom: 20px;*/
        /*}*/

        .order {
            width: 300px;
            margin: 100px 10px auto 100px;
        }

        .wrap {
            width: 500px;
            margin: 10px auto;
        }

        .mybtn {
            width: 100px;
            margin: auto;
            display: block;
        }

        * {
            font-family: 'Gamja Flower', cursive;
        }

        .titlepont {
            color: white;
            margin: 20px auto;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="wrap">
    <div class="image">
        <h1 class="titlepont"> Insta Food Tour <span class="price"></span></h1>
        <h5 class="titlepont">인스타 게시물에 가장 많이 태그된 맛집을 추천해드립니다!</h5>

        <div class="order">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="local">지역</label>
                </div>
                <select class="custom-select" id="local">
                    <option selected>--지역명을 선택하세요--</option>
                    <option value="1">수원</option>
                    <option value="2">강릉</option>
                    <option value="3">제주도</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="food">음식</label>
                </div>
                <select class="custom-select" id="food">
                    <option selected>--먹고싶은 음식을 선택하세요--</option>
                    <option value="1">돈까스맛집</option>
                    <option value="2">파스타맛집</option>
                    <option value="3">맛집추천</option>
                </select>
            </div>

            <button onclick="orders()" type="button" class="btn btn-primary mybtn">클릭</button>
            <tbody id="reviews-box">
            <tr>
                <td>왕초보 8주 코딩</td>
                <td>김르탄</td>
                <td>역시 왕초보 코딩교육의 명가답군요. 따라하다보니 눈 깜짝할 사이에 8주가 지났습니다.</td>
            </tr>
            </tbody>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>
